<!-- app/views/user_mailer/welcome_email.html.erb -->
<h1>Welcome to Our App, <%= @user.username %>!</h1>

<p>Thanks for signing up! You can log in using the link below:</p>

<p><%= link_to 'Login', root_url %></p>

<p>Best regards,<br>Your App Team</p>
