<div id="<%= dom_id(post) %>">
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= @user.username %>:</strong>
    <%= post.body.gsub(/#\w+/) do |hashtag| %>
      <%= link_to hashtag, tag_path(name: hashtag[1..]) %>
    <% end.html_safe %>
  </p>
</div>
